DB_HOST=localhost
DB_NAME=
DB_OWNER=
DB_PASSWORD=
DB_PORT=

# Erogamescape
EROGS_ENDPOINT=
EROGS_RATE_LIMIT_RESET_TIME=15

# Proxy：留空代表不使用 proxy；可填 vpn 或 private。
PROXY_USE=

# VPN proxy（PROXY_USE=vpn）
PROXY_ADDRESS=
PROXY_AUTH_USER=
PROXY_AUTH_PASSWORD=
PROXY_PORT=

# Private proxy（PROXY_USE=private）
PROXY_PRIVATE_IP=
PROXY_PRIVATE_PORT=
